<h5>Bảng danh sách sinh viên lớp {{ClassEPU}} </h5>
<table border="1px" cellspacing = "0px">
    <thead id="tbhead">
        <tr style="background-color:rgb(14, 180, 245)">
            <th>ID</th>
            <th style="width:250px; text-align: center">Họ và tên</th>
            <th style="width:200px;text-align: center">Số CMT</th>
            <th style="width:100px;">Quê Quán</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Nguyễn Văn Khoa</td>
            <td>123455</td>
            <td>Hưng Yên</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Nguyễn Văn Ân</td>
            <td>12342455</td>
            <td>Hải Phòng</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Nguyễn Văn Quý</td>
            <td>123474755</td>
            <td>Thái Bình</td>
        </tr>
    </tbody>
</table>
<img [src]="images"/>